server {
    listen ${SERVER_PORT};
    server_name localhost;
    root   /usr/share/nginx/html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass  http://${API_SERVICE_HOST}:${API_SERVICE_PORT}/;
    }
}

server {
    listen ${API_SERVER_PORT};
    server_name localhost;
    
    location / {
        proxy_pass http://${API_SERVICE_HOST}:${API_SERVICE_PORT}/;
    }
}
